.container {
	padding: 0 1rem;
	margin: 3rem auto 6rem;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.backToHome {
	margin: 3rem 0 0;
}

.main {
	display: flex;
	align-content: space-around;
}

.main > div {
	max-width: 36rem;
	display: flex;
	flex-direction: column;
	flex: 4;
}

.leftSidebar {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	flex: 1;
}

.rightSidebar {
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	justify-items: center;
    text-align: center;
	flex: 1;
}

.aaa {
    color: white
}


/**
  *
  * Smaller screen + Mobile
  *
  */

  @media screen and (max-width: 1300px) {
	.main {
		display: flex;
		flex-direction: column-reverse;
		/* align-content: space-around; */
		align-items: center;
	}

	.main > :nth-child(odd) {
		max-width: 14rem;
	}
}